{{- $links := (site.GetPage "links").Params.links -}}
{{- $sameAs := slice -}}
{{- range $links }}{{ if hasPrefix .url "http" }}{{ $sameAs = $sameAs | append .url }}{{ end }}{{ end -}}
{{- $person := dict
  "@type" "Person"
  "name" site.Params.name
  "jobTitle" site.Params.role
  "url" site.BaseURL
  "email" (printf "mailto:%s" site.Params.email)
  "description" site.Params.description
  "sameAs" $sameAs
  "knowsAbout" (slice "Data Science" "Machine Learning" "Time Series Forecasting" "MLOps" "Data Engineering")
  "address" (dict "@type" "PostalAddress" "addressLocality" site.Params.location)
-}}
{{- if .IsHome -}}
{{- $schema := merge (dict "@context" "https://schema.org") (dict
  "@type" "ProfilePage"
  "url" .Permalink
  "name" site.Title
  "mainEntity" $person) -}}
<script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>
{{- else if .IsPage -}}
{{- $type := cond (eq .Section "projects") "CreativeWork" (cond (eq .Section "reviews") "Review" "BlogPosting") -}}
{{- $schema := dict
  "@context" "https://schema.org"
  "@type" $type
  "headline" .Title
  "name" .Title
  "description" .Description
  "url" .Permalink
  "datePublished" (.Date.Format "2006-01-02")
  "dateModified" (.Lastmod.Format "2006-01-02")
  "inLanguage" "en"
  "author" $person
  "keywords" (delimit (.Params.tags | default slice) ", ")
  "wordCount" .WordCount
  "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink) -}}
<script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>
{{- else -}}
{{- $schema := dict
  "@context" "https://schema.org"
  "@type" "CollectionPage"
  "name" .Title
  "description" .Description
  "url" .Permalink
  "isPartOf" (dict "@type" "WebSite" "name" site.Title "url" site.BaseURL)
  "about" $person -}}
<script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>
{{- end -}}
